.maincontent{
  width:85%;
  height:100%;
  margin-left:15%;
  margin-top: 60px;
}
.container {
  width: 100%;
  padding: 2%;
}
.contain {
  width: 100%;
  left: 2%;
  right: 2%;
  top: 2%;
}
.box_container {
  display: flex;
}
.name_container {
  top: 20px;
  margin-bottom: 45px;
}
.name_container img {
  height: 55px;
  vertical-align: middle;
  margin-right: 10px;
}
.container_head {
  display: flex;
}
.closebtn {
  /*margin-left: 25%;
  */width: 38px;
  height: 36px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dee2e6 !important;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,;
  -ms-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,;
}
.quickbtn{
  cursor: pointer;
  width: 140px;
  height: 36px;
  color: #fff;
  border-radius: 7px;
  text-align: center;
  vertical-align: middle;
  background-color: #1abc9c;
  border: 1px solid #dee2e6 !important;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 12px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.savebtn{
  cursor: pointer;
  width: 130px;
height: 36px;
color: #fff;
border-radius: 7px;
text-align: center;
  vertical-align: middle;
    background-color: #1abc9c;
    border: 1px solid #dee2e6 !important;
    font-size: 16px;
    
    margin-right: 12px;
}
.skipbtn{
  cursor: pointer;
  background-color: #F5F5F5;
  border: 1px solid #dee2e6 !important;
  text-align: center;
  color: #000;
  height: 36px;
  width: 60px;
  font-size: 14px;
  border-radius: 7px;
}
.container_head svg {
  width: 16px;
  vertical-align: middle;
}

.container_text {
  display: block;
  line-height: 30px;
}
.container_text h3 {
  font-weight: 500;
  font-size: 22px;
}
.container_text p {
  color: #555;
  font-size: 16px;
}

.box1 {
  width: 54%;
  height: 250px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #dee2e6;
  display: flex;
}
.box1 h2{
  color: #8d99ae;
  margin-bottom: 7px;
}
.box1 p{
  
  line-height: 1.8;
  font-size: 18px;
font-weight: 500;
width: 85%;
}

.topimg  {
  width: 45px;
  margin-left: 40px;
}
.svgdots{
  margin-top: 10px;
  height: 7px;
  width: 60px;
  
}
.svgdots svg{
  transform: scaleX(3);
    margin: 0 4px;
    transition: .2s;
    height: 5px;
    width: 5px;
    cursor: pointer;
    fill: #2485E8;
    vertical-align: middle;
}
.dot{
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1.5px;
  vertical-align: middle;
  margin-right: 1.5px;
}
.bottomimg{
  width: 45px;
  margin-bottom: -24px;
  margin-left: 160px;
}
.first{
  margin-left: 2%;
  width: 50%;
  border-right:1px solid #dee2e6;
}
.second{
  margin: 30px;
  width: 100%;
  height: 160px;  
}
.buttondiv{
  margin-top: 40px;
  display: flex;
}
.buttondiv button{
  margin-right: 18px;
}

.box2 {
  width: 40%;
  height: 250px;
  background-color: #fff;
  margin-left: 2%;
  border: 1px solid #dee2e6;

  border-radius: 20px;
}
.box2 div{
  margin: 5%;
  margin-right: 10%;

}
.box2 h4{
  font-weight: 500;

line-height: 1.8;  font-size: 15px;
}
.box2 svg{
  height: 22px;
  width: 22px;
  vertical-align: middle;
  margin-right: 5px;
}
.box2 a{
  display: block;
  margin: 10px;
}
.box2 a:hover{
  color: #1abc9c;
  cursor: pointer;
}
.label_items{
  display: flex;
  
}
.seperator{
  margin-left: 30px;
}
.label_items label{
  display: block;
}
.select{
  
  margin-top: 8px;
  height: 33px;
  width: 190px;
  border:1px solid #dee2e6;
  overflow: hidden;
}